html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

code {
  font-family: "Inter";
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.toast-inform {
  background-color: #2980b9;
}

.toast-success {
  background-color: #27ae60;
}

.toast-error {
  background-color: #c0392b;
}

.alertDialog {
  position: absolute !important;
  margin-top: 42.6852vh;
  margin-left: 66vh;
  display: flex;
  min-width: 38.9815vh;
  max-width: 43.9815vh;
  min-height: 11.2037vh;
  border-radius: 0.9259vh;
  border: 0.0926vh solid #373737;
  padding: 2.4074vh 2.8704vh 2.4074vh 2.963vh;
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%);
}

.alertDialogHeader {
  align-self: stretch;
  color: #FFF;
  font-family: Inter;
  font-size: 1.6667vh;
  font-weight: 600;
}


.alertDialogText p {
  margin-top: 0.7407vh;
  align-self: stretch;
  color: #8C8C8C;
  font-family: Inter;
  font-size: 1.0556vh;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5046vh;
}

.alertDialogButtons { 
  /* position: absolute !important; */
  display: flex;
  margin-top: 1.2667vh;
  padding-left: 21.5vh;
}

.cancelButton {
  z-index: 1;
  margin-right: 0.5556vh;
  width: 7.5vh;
  height: 2.5vh;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(153, 153, 153, 0.13);

  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.38);
  text-align: center;
  font-family: Inter;
  font-size: 1vh;
  font-weight: 600;
  padding-top: 0.25vh;

  transition: all .25s;
}

.cancelButton:hover {
  color: #3D3D3D;
  cursor: pointer;
  border: 0.0926vh solid rgba(255, 255, 255, 0.40);
  background: #FFF;
}

.confirmButton {
  z-index: 1;
  width: 7.5vh;
  height: 2.5vh;
  border-radius: 0.5556vh;
  transition: all .25s;
  cursor: pointer;

  padding-top: 0.25vh;
  text-transform: uppercase;
  text-align: center;
  font-family: Inter;
  font-size: 1vh;
  font-weight: 600;
  
  color: #3D3D3D;
  border: 0.0926vh solid rgba(255, 255, 255, 0.40);
  background: #FFF;
  opacity: .75;
  transition: opacity .3s;
}

.confirmButton:hover {
  cursor: pointer;
  opacity: 1;
}

.titleContainer {
  display: flex;
  width: 22vh;
  height: 4vh;
  justify-content: center;
  align-items: center;
  gap: 0.9259vh;
  border-radius: 0.9259vh;
  border: 0.0926vh solid #373737;
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%);
}

.titleText {
  width: 18.5vh;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerButton2 {
  margin-left: -32.5vh;
  position: absolute !important;
  display: flex;
  width: 4vh;
  height: 4vh;
  justify-content: center;
  align-items: center;
  gap: 0.9259vh;
  border-radius: 0.9259vh;
  border: none;
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%);
  transition: all .35s;
}

.headerButton {
  display: flex;
  width: 4vh;
  height: 4vh;
  justify-content: center;
  align-items: center;
  gap: 0.9259vh;
  /* border-radius: 0.9259vh; */
  /* border: none; */
  /* background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%); */
  border-radius: 0px;
  border: 0.0926vh solid rgba(255, 0, 0, 0.35);
  background: rgba(255, 0, 0, 0.30);
  transition: all .35s;
}

.headerButtonIcon {
  display: flex;
  transition: color .35s;
  color: rgba(255, 255, 255, 0.911);
  font-size: 1.6667vh;
}

.headerButton:hover {
  cursor: pointer;
  /* background: #fff; */
  /* color: #000; */
  background: rgba(255, 0, 0, 0.40);
  border: 0.0926vh solid rgba(255, 0, 0, 0.45);
  color: #fff;
}

.headerButton:hover .headerButtonIcon{
  /* color: #000; */
  color: #fff;
}

.headerButton2:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

.headerButton2:hover .headerButtonIcon{
  color: #000;
}

.buttonsFlexWrapper {
  display: flex;
  margin-left: .55vh;
  max-width: 27.5vh;
  height: fit-content;
  min-height: 4.5vh;
  max-height: 7.2222vh;
  align-items: center;
  /* border-radius: 0.9259vh; */
  /* border: 0.0926vh solid #373737; */
  /* background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%); */
  border-radius: 0px;
  border: 0.0926vh solid rgba(255,255,255,0.25);
  background: rgba(255,255,255,0.20);
  transition: all .25s;
}

.buttonsFlexWrapper:hover {
  background: rgba(255,255,255,0.25);
  border: 0.0926vh solid rgba(255,255,255,0.30);
}

.buttonsFlexWrapper:hover .buttonArrowContainer {
  /* background-color: #fff; */
  background-color: #ffffff43;
}

.buttonsFlexWrapper:hover .arrowIcon {
  /* color: black; */
  color: white;
}

.buttonsFlexWrapper[data-disabled] {
  display: flex;
  margin-left: .55vh;
  max-width: 27.5vh;
  height: fit-content;
  min-height: 5.5vh;
  max-height: 7.2222vh;
  align-items: center;
  gap: 0.9259vh;
  border-radius: 0.9259vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.23);
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.75) 0%, rgba(0, 0, 0, 0.65) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.30) 131.78%);
  border-radius: 0px;
  border: 0.0926vh solid rgba(255,255,255,0.15);
  background: rgba(255,255,255,0.10);
}

.buttonTitleText {
  color: #FFF;
  font-family: Inter;
  font-size: 1.2222vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menuDesc2 {
  margin-top: .25vh;
  width: 19.75vh;
  color: #8C8C8C;
  text-align: center;
  font-family: Inter;
  font-size: 1vh;
  font-weight: 500;
  line-height: 133.736%; /* 15.246px */
}

.description {
  margin-top: -.5vh;
  margin-bottom: -0.2778vh;
  /* margin-left: .25vh; */
  color: #8C8C8C;
  font-family: Inter;
  font-size: 1.025vh;
  font-style: normal;
  font-weight: 500;
  line-height: 133.736%;
  width: 20vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progressBar {
  height: .55vh;
  border-radius: 2.3148vh;
  background: #4EFFA7;
  box-shadow: 0 0 1.2685vh 0 rgba(78, 255, 167, 0.46);
}

.progressRoot {
  margin-left: .6vh;
  width: 19vh;
  height: .55vh;
  margin-top: 0.463vh;
  margin-bottom: 0.463vh;
}

.progressBar2 {
  height: .55vh;
  border-radius: 2.3148vh;
  background: #4EFFA7;
  box-shadow: 0 0 1.2685vh 0 rgba(78, 255, 167, 0.46);
}

.progressRoot2 {
  height: .55vh;
}

.buttonArrowContainer {
  width: 2.85vh;
  height: 2.85vh;
  border-radius: 0.5556vh;
  /* background: rgba(217, 217, 217, 0.10); */
  background: rgba(255,255,255,0.10);
  border: 0.0926vh solid rgba(255,255,255,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22vh;

  position: absolute !important;
  transition: background-color .35s;
}

.arrowIcon {
  transition: color .35s;
  display: flex;
  width: 0.5556vh;
  height: 1.1111vh;
}

.contextButtonHover {
  display: flex;
  margin-top: .4vh;
  width: 15.8333vh;
  min-height: 4vh;
  align-items: center;
  border-radius: 0.9259vh;
  border-right: 0.0926vh solid #373737;
  border-bottom: 0.0926vh solid #373737;
  border-left: 0.0926vh solid #373737;
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%);
}

.contextButtonText {
  color: rgba(170, 170, 170, 0.73);
  font-family: Inter;
  font-size: 1.1111vh;
  font-weight: 500;
  line-height: 1.4815vh; /* 16.048px */
}

.container {
  position: absolute;
  top: 15%;
  right: 25%;
  width: 29.6296vh;
  height: 53.7037vh;
}

.contexticon {
  display: flex;
  width: 1.4815vh;
  height: 1.4815vh;
}

.buttonIconContainer {
  width: 2.3148vh;
  height: 2.3148vh;
  justify-content: center;
  align-items: center;
}

.header {
  margin-left: -.95vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.9259vh;
  gap: 1.3vh;
}

.customModalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5); /* overlayOpacity */
  /* z-index: 999; */
}

.customModalContent {
  border-radius: 0.9259vh;
  border: 0.0926vh solid #373737;
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%);
  width: 36.6667vh;
  min-height: 19.5vh;
  max-height: 90vh;
  padding: 2.3148vh;
  animation: fadeIn .2s ease;
}

.customModalTitle {
  align-self: stretch;
  text-align: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.6667vh;
  font-weight: 600;
  margin-top: -.25vh;
}

.customModalBody {
  display: flex;
  flex-direction: column;
  gap: 0.9259vh;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}

.customModalButtons {
  margin-top: 1.2963vh;
  display: flex;
  justify-content: flex-end;
  gap: 0.5556vh;
}


.cancelButton2 {
  display: flex;
  padding: 0.7407vh 1.5741vh 0.6481vh 1.5741vh;
  justify-content: center;
  align-items: center;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(153, 153, 153, 0.13);

  color: rgba(255, 255, 255, 0.38);
  text-align: center;
  font-family: Inter;
  font-size: 0.9259vh;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
}

.confirmButton2 {
  display: flex;
  padding: 0.7407vh 1.5741vh 0.6481vh 1.5741vh;
  justify-content: center;
  align-items: center;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  border-color: rgba(255, 255, 255, 0.40);
  background: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 0.9259vh;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity .3s;
  opacity: 0.75;
}

.cancelButton2:hover {
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.40);
  background: #FFF;
  color: #3D3D3D;
}

.confirmButton2:hover {
  cursor: pointer;
  opacity: 1;
}

.cancelButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

.topCont {
  margin-left: 4vh;
  display: flex;
  width: 25.2778vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1.0185vh;
}

.circle {
  display: flex;
  width: 3.5185vh;
  height: 3.5185vh;
  padding: 1.1111vh;
  align-items: center;
  gap: 0.9259vh;
  border-radius: 1.7593vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.12);
  background: rgba(217, 217, 217, 0.07);
}

.customModalheader {
  color: #8C8C8C;
  text-align: center;
  font-family: Inter;
  font-size: 1.0556vh;
  font-style: normal;
  font-weight: 500;
  
  line-height: 133.736%; /* 15.246px */
  margin-top: -2vh;
  align-self: stretch;
}

.input-label {
  color: #FFF;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 600;
}

.input-description {
  color: #8E8E8E;
  font-family: Inter;
  font-size: 1.1111vh;
  font-weight: 500;
}

.input-el {
  display: flex;
  height: 3.85vh;
  max-height: 3.8889vh;
  padding: 1.015vh 3.5vh;
  align-items: center;
  gap: 0.9259vh;
  align-self: stretch;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(66, 66, 66, 0.32);
  transition: border-color .3s;
  
  
  color: #fff;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el::placeholder {
  color: rgba(255, 255, 255, 0.23);
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el:focus {
  border-color: rgba(255, 255, 255, 0.50);
}

.input-el:focus-within {
  border-color: rgba(255, 255, 255, 0.50);
}

.input-el3 {
  display: flex;
  height: 3.85vh;
  max-height: 3.8889vh;
  padding: 1.0185vh 4.5vh;
  align-items: center;
  gap: 0.9259vh;
  align-self: stretch;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(66, 66, 66, 0.32);
  transition: border-color .3s;
  
  
  color: #fff;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el3::placeholder {
  color: rgba(255, 255, 255, 0.23);
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el3:focus {
  border-color: rgba(255, 255, 255, 0.50);
}

.input-el3:focus-within {
  border-color: rgba(255, 255, 255, 0.50);
}

.input-el4 {
  display: flex;
  height: 3.85vh;
  max-height: 3.8889vh;
  padding: 1.0185vh 2.75vh;
  align-items: center;
  gap: 0.9259vh;
  align-self: stretch;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(66, 66, 66, 0.32);
  transition: border-color .3s;
  
  
  color: #fff;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el4::placeholder {
  color: rgba(255, 255, 255, 0.23);
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el4:focus {
  border-color: rgba(255, 255, 255, 0.50);
}

.input-el4:focus-within {
  border-color: rgba(255, 255, 255, 0.50);
}

.checkboxInput {
  display: flex;
  width: 2.7778vh;
  height: 2.7778vh;
  align-items: center;
  justify-content: center;
  border-radius: 3.4259vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(66, 66, 66, 0.32);
}

.checkboxInput:checked {
  border-radius: 3.4259vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(66, 66, 66, 0.32);
}

.checboxicon {
  margin-top: 1vh;
  margin-left: 1vh;
  transition: all .3s;
  width: .75vh;
  height: .75vh;
  border-radius: 3.4259vh;
  background: #FFF;
  box-shadow: 0 0 1.2407vh 0 rgba(255, 255, 255, 0.7);
}

.select-dropdown[data-selected] {
  background-color: #FFF;
  color: #000;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 600;
}

.select-dropdown[data-selected]:hover {
  background-color: #FFF;
}

.select-dropdown:hover {
  cursor: pointer;
}

.select-dropdown {
  transition: all .3s;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 600;
}

.checkboxLabel {
  margin-top: .55vh;
  margin-left: 0.9259vh;
  color: rgba(178, 178, 178, 0.67);
  font-family: Inter;
  font-size: 1.2963vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-section {
  z-index: 9999;
  width: 3.5185vh;
  height: 1.8519vh;
  align-self: stretch;

  border-radius: 0.5556vh;
  border: 0.0005vh solid rgba(255, 255, 255, 0.10);
  background-color: rgba(66, 66, 66, 0.32);

  color: rgba(255, 255, 255, 0.24);
  transition: all .3s;
}

.input-section:enabled:hover {
  background-color: #fff;
  color: #3D3D3D;
  cursor: pointer;
}


.input-section:disabled:hover {
  background-color: #fff;
  color: #3D3D3D;
  cursor: pointer;
}


.rightSection {
  margin-right: .35vh;
  position: absolute !important;
}


.input-el2 {
  display: flex;
  width: 28vh;
  height: 3.85vh;
  max-height: 3.8889vh;
  padding: 1.0185vh 3.5vh;
  align-items: center;
  gap: 0.9259vh;
  align-self: stretch;
  border-radius: 0.5556vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.10);
  background: rgba(66, 66, 66, 0.32);
  transition: border-color .3s;
  
  color: #fff;
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el2::placeholder {
  color: rgba(255, 255, 255, 0.23);
  font-family: Inter;
  font-size: 1.2963vh;
  font-weight: 500;
}

.input-el2:focus {
  border-color: rgba(255, 255, 255, 0.50);
}

.input-el2:focus-within {
  border-color: rgba(255, 255, 255, 0.50);
}

.thumb {
  width: 1.25vh;
  height: 1.25vh;
  background: #FFF;
  border: 0.1852vh solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1.2685vh 0 rgba(255, 255, 255, 0.46);
}

.sliderRoot {
  margin-top: 0.5556vh;
  height: .005vh;
  background: rgba(217, 217, 217, 0.18);
}

.sliderBar {
  background: #FFF;
  box-shadow: 0 0 1.2685vh 0 rgba(255, 255, 255, 0.46);
}

.marks {
  opacity: 0;
}

.slideLabel {
  color: #FFF;
  font-family: Inter;
  font-size: 1.4815vh;
  font-weight: 600;
}

.circle2 {
  display: flex;
  width: 3.05vh;
  height: 3.05vh;
  justify-content: center;
  align-items: center;
  border-radius: 1.7593vh;
  border: 0.0926vh solid rgba(255, 255, 255, 0.12);
  background: rgba(217, 217, 217, 0.07);
}

.menuText {
  color: #8E8E8E;
  font-family: Inter;
  font-size: 1.1111vh;
  font-weight: 500;
}

.menuHeader {
  color: #FFF;
  font-family: Inter;
  font-size: 1.25vh;
  font-weight: 600;
}

.percent {
  margin-left: .85vh;
  margin-top: .25vh;
  display: inline-flex;
  width: 4vh;
  height: 1.5vh;
  border-radius: 4.75vh;
  background: rgba(255, 78, 98, 0.20);
  justify-content: center;
  align-items: center;
}

.percent p {
  margin-top: .1vh;
  color: #FF4E62;
  font-family: Inter;
  font-size: .95vh;
  font-weight: 500;
}

.pDesc {
  margin-left: -8.35vh;
  position: absolute !important;
  color: #a3a3a3ce;
  font-family: Inter;
  font-size: 1vh;
  margin-top: .5vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.classeslabel {
  position: absolute;
  text-align: left;
  margin-top: -1.75vh;
  margin-left: -13.25vh;
  color: #fff;
  font-family: "Inter";
  font-size: 1.4vh;
  font-weight: 600;
}

.pDesc2 {
  margin-left: 5.75vh;
  position: absolute !important;
  color: #a3a3a3ce;
  font-family: Inter;
  font-size: 1vh;
  margin-top: 1.85vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.progbg2 {
  display: flex;
  margin-top: 0vh;
  margin-left: -30vh;
  position: absolute !important;
  width: 5.5vh;
  height: 5.5vh;
  border-radius: 8.0556vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.00) 57.69%, rgba(115, 115, 115, 0.27) 100%);
}

.percent2 {
  position: absolute !important;
  margin-left: 1.25vh;
  margin-top: -1.75vh;
  display: inline-flex;
  width: 4vh;
  height: 1.5vh;
  border-radius: 4.75vh;
  background: rgba(255, 78, 98, 0.20);
  justify-content: center;
  align-items: center;
}

.percent3 {
  position: absolute !important;
  margin-left: -29.75vh;
  margin-top: .25vh;
  color: #FF4E62;
  font-family: Inter;
  font-size: .85vh;
  font-weight: 500;
}

.percent2 p {
  margin-top: .1vh;
  color: #FF4E62;
  font-family: Inter;
  font-size: .95vh;
  font-weight: 500;
}

.skillCont {
  /* justify-content: center;
  justify-self: center; */
  position: absolute !important;
  margin-top: 41.6667vh;
  margin-left: 69.5vh;
  width: 40vh;
  height: 13vh;
  border-radius: 0.9259vh;
  border: 0.0926vh solid #373737;
  background: radial-gradient(140.75% 140.75% at 50% 50%, rgba(26, 27, 30, 0.97) 0%, rgba(8, 8, 9, 0.87) 100%), linear-gradient(156deg, rgba(255, 255, 255, 0.00) 38.82%, rgba(255, 255, 255, 0.10) 131.78%);
}

.progbg {
  display: flex;
  margin-top: 1.5vh;
  margin-left: 3vh;
  position: absolute !important;
  width: 9.9vh;
  height: 9.9vh;
  border-radius: 8.0556vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.00) 57.69%, rgba(115, 115, 115, 0.27) 100%);
}

.inText {
  margin-top: 2.75vh;
  margin-left: 14.5vh;
  color: #FFF;
  font-family: Inter;
  font-size: 1.5vh;
  font-weight: 600;
}

.inDesc {
  margin-top: .5vh;
  margin-left: 14.5vh;
  color: #A3A3A3;
  font-family: Inter;
  font-size: 1.0185vh;
  font-weight: 500;
}

.inSvg {
  margin-top: .25vh;
  margin-left: 13.6vh;
  display: flex;
  width: 2.59vh;
  height: 2.59vh;
}

.inDesc2 {
  margin-top: -2.1vh;
  margin-left: 15.75vh;
  color: rgba(255, 255, 255, 0.36);
  font-family: Inter;
  font-size: 1.0185vh;
  font-weight: 500;
}

.inCount {
  margin-top: -2.1vh;
  margin-left: 22.85vh;
  width: 5vh;
  height: 1.75vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  border-radius: 4.9074vh;
  background: rgba(255, 78, 98, 0.20);

  padding-top: .2vh;
  color: #FF4E62;
  font-family: Inter;
  font-size: 1vh;
  letter-spacing: .2vh;
  font-weight: 500;
}

.description2 {  
  color: #989898;
  font-family: "Inter";
  font-size: 1.1111vh;
  font-weight: 500;
}

.dropdown {
  z-index: 9999;
}
